@import "../variables";
.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  margin: 50px 6vw 0 6vw;

  .meal-card {
    .meal-card-infos {
    }
    &:hover {
      cursor: pointer;
    }
  }
}
