@import "../variables";
.recipe-main-container {
  position: relative;
  width: 100%;
  // height: 100vh;
  .recipe-container {
    position: relative;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    border: 5px solid $color-1;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px $color-3;
    .close-btn {
      z-index: 1;
      position: absolute;
      top: -1px;
      right: -1px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      height: auto;
      padding: 1rem;
      font-size: 2rem;
      color: black;
      border: 2px solid $color-1;
      border-radius: 0 10px 0 10px;
      cursor: pointer;
      p {
        font-size: 1em;
        font-weight: bold;
        margin-right: 10px;
      }
      img {
        height: 25px;
        width: 25px;
      }
    }
    .recipe-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 30%;
      img {
        max-width: 420px;
        box-shadow: 0 0 5px 0px $color-3;
        border-radius: 10px;
      }
    }
    .recipe-steps {
      h3 {
        margin: 20px 0;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  &.active {
    display: flex;
  }
  @media (max-width: 1220px) {
    .recipe-container {
      width: 90%;
      .recipe-infos {
        margin-right: 20%;
      }
    }
  }
  @media (max-width: 940px) {
    .recipe-container {
      width: 95%;
      .recipe-infos {
        margin-right: 10%;
      }
    }
  }
  @media (max-width: 880px) {
    .recipe-container {
      width: 96%;
      .recipe-infos {
        margin-right: 8%;
      }
    }
  }
  @media (max-width: 768px) {
    .recipe-container {
      padding-top: 80px;
      .close-btn {
        p {
          display: none;
        }
      }
      .recipe-infos {
        margin-right: 2%;
        img {
          width: 200px;
          margin-bottom: 20px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .recipe-container {
      .recipe-infos {
        flex-direction: column;
        margin-right: 0;
      }
    }
  }
}
