@import "../variables";
main {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 20px 0;
    color: $white;
  }
  .inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-2;
    padding: 15px 20px;
    #meal-input {
      font-size: 1.2rem;
      border: none;
      border-radius: 8px;
      padding: 5px;

      &:focus {
        outline: 2px solid $color-3;
      }
    }
    .filter-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      .filter-title {
        color: $white;
        margin-bottom: 10px;
      }
      .country-radio {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: calc(100% + 20%);
        .country-radio-element {
          user-select: none;
          margin-bottom: 18px;
          input {
            display: none;
          }
          label {
            padding: 5px;
            border-radius: 2px;
            font-size: 1.2rem;
            background-color: $white;
            cursor: pointer;
          }
          &.active {
            label {
              background-color: $color-2;
              color: $white;
              border-radius: 8px;
              border: 2px solid $color-1;
              // box-shadow: 0 0 5px 0px $color-3;
            }
          }
        }
      }
      .reset-filters {
        border-radius: 8px;
        padding: 5px;
        margin-top: 15px;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
  }
}
