@import "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-1;
  font-weight: 100;
  color: $color-3;
}

body {
  background: $white;
  overflow: hidden;
}
li {
  list-style-type: none;
}
