@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$font-1: "Pacifico", sans-serif;
$font-2: "Quicksand", sans-serif;

$color-1: #bd272b;
$color-2: #931e21;
$color-3: #282c34;
$white: rgb(243, 243, 243);
